html {
    font-family: 'Roboto', sans-serif;

    font-size: 16px;

    color: rgb(70,70,85);

    overflow-x: hidden;
}

body {
    width: 100%;
}

header {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    height: 50px;

    background-color: rgba(40, 20, 255, 0.8);

    z-index: 10;

    -webkit-backdrop-filter: blur(25px);

    transition: 0.2s;
}

header h3 {
    color: white;

    font-size: 1.6rem;

    line-height: 0.1rem;

    text-align: center;
}
.mobile-notifier {
    display: none;

    position: absolute;

    top: 8px;
    right: 5px;

    color: rgba(200,50,42,0.8);
    font-weight: 800;

    border: solid 4px rgba(200,50,42,0.8);

    padding: 5px 10px 5px 10px;

    border-radius: 8px;

}
.hero {

    height: 70vh;

    background-image: url(http://www.visitcalifornia.com/sites/default/files/styles/welcome_image/public/VC_CaliforniaCastles_Hero_CastelloDiAmorosa_Supplied_CastleWideFallFull_1280x640_0.jpg);

    background-position: center;

    background-repeat: none;

    background-size: cover;
}
.scrim {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30vh;
    top: 10vh;
    /* We're using absolute positoning here to get something that stretches across the window completely, and we know the vertical positoning of. The viewport height relative (vh) values help cover any resizing issues that might crop up. */

    background: linear-gradient(0deg, rgba(25,25,30,0.75) 0%,rgba(35,35,40,0) 100%);
}

@media(min-width :500px){
    header{
        background-color: rgba(120, 10, 225, 0.85);
    }
}

@media(min-width :630px){
    header{
        background-color: rgba(180, 40, 190, 0.85);
    }
}

@media(min-width :760px){
    header{
        background-color: rgba(210, 100, 100, 0.85);
    }
}

@media(min-width :890px){
    header{
        background-color: rgba(210, 120, 50, 0.85);
    }
}

@media(min-width :1020px){
    header{
        background-color: rgba(235, 160, 30, 0.85);
    }
}

@media(min-width :1150px){
    header{
        background-color: rgba(245, 210, 30, 0.85);
    }
}

@media(min-width :1280px){
    header{
        background-color: rgba(250, 235, 60, 0.85);
    }
}

@media(min-width :1410px){
    header{
        background-color: rgba(200, 255, 95, 0.85);
    }
}